<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    


    <div ng-controller="aboutCtrl">


        <div></div>

        <img id="POZADINACela" ng-style="{'height':'100%','width':'auto'}" ng-src="{{aboutscreen[76].imageUrl}}">

        <!--<a href="#/splash-gowemy" class="thumb"></a>-->
        
        <img id="gobackBtn" ng-src="{{aboutscreen[0].imageUrl}}" ng-click="goBackPage1()">






            <a href="http://gowemy.com/" class="thumb"><img id="wemyLogoMali" ng-src="{{aboutscreen[2].imageUrl}}"></a>
 





        <!--<a href="http://gowemy.com/" class="thumb"></a>-->
        
        <img id="slikaMalaAbout" ng-src="{{aboutscreen[11].imageUrl}}">
  

        <div id="aboutText">

            <p>Gowemy is a social app.</p>

            <p>It helps you and your friends to decide what to wear.</p> 

            <p>Your friends care what you wear.</p>

        </div>


        </div>
</body>
</html>