<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div></div>



    <div ng-controller="getOpinionCtrl">
        <img id="POZADINACela" ng-style="{'height':'100%','width':'auto'}" ng-src="{{getopinion[76].imageUrl}}">


        <!--<div ng-show="UMETNUTO==false">-->
            <img id="wemyLogoVeliki" ng-style="{'top':'40%','left':'38.5%','width':'25%'}" ng-src="{{getopinion[73].imageUrl}}" ng-click="goToPage1('/partials/streamresults')">
            <!--<img id="USERPICTURESLOTklasaportret2" ng-style="{'height':VISINASLIKEuvelikomKrugu,'width':'auto','opacity':'1'}" src="{{BASTASLIKA}}">-->
        <!--</div>-->


        <!--<div ng-show="UMETNUTO==true">
            <img id="USERPICTURESLOTklasaportret2" ng-style="{'height':VISINASLIKEuvelikomKrugu,'width':'auto','opacity':'1'}" src="{{UserSlikaURLdobijen}}">
        </div>-->

        <!--<img id="POZADINACela" ng-style="{'height':'100%','width':'auto','opacity':'1'}" ng-src="{{getopinion[79].imageUrl}}">-->



        <img id="ActionBarPozadina" ng-src="{{getopinion[70].imageUrl}}" >


        <img id="linija" ng-src="{{getopinion[12].imageUrl}}">

        <div id="ParentPunjenje" ng-style="{ '-webkit-transform-origin': '50% 50%',

             '-moz-transform-origin': '50% 50%',
             '-ms-transform-origin': '50% 50%',
             '-o-transform-origin': '50% 50%',
             'transform-origin': '50% 50%',
                'transform': LUKrotacija, '-webkit-transform': LUKrotacija, '-ms-transform': LUKrotacija,'top':y, 'left':x}">

            <div id="ARCpunjenje" round-progress
                 max="120"
                 current="99.5"
                 color="url(#gradient)"
                 bgcolor="Transparent"
                 radius="{{KRUGPRECNIK}}"
                 stroke="{{KRUGSTROKE}}"
                 semi="false"
                 rounded="true"
                 clockwise="false"
                 iterations="60"
                 animation="easeInOutSine">

                <svg>
                    <linearGradient id="gradient" x1="0.9" x2="-2" y1="-2.2" y2="2">
                        <stop offset="38%" stop-color="#e64c3c" />
                        <stop offset="49%" stop-color="#b0d138" />
                    </linearGradient>
                </svg>



            </div>


        </div>

        <!--<img id="gobackBtn" ng-src="{{getopinion[0].imageUrl}}" ng-click="goToPage1('/partials/60secresult')">-->

        <!--<a href="#/splash-gowemy" class="thumb">
        </a>-->


        



        <!--ng-style="{'top':'46%', 'width':'50%'}"-->
        <!--<a href="#/partials/streamresults" class="thumb">
        </a>-->



        <img id="foticBtn" ng-style="{ 'opacity' : (styletrueFotic==true) ? '1' : '0.5' }" ng-src="{{getopinion[10].imageUrl}}" ng-click="styletrueFotic=!styletrueFotic;goToPage1('/partials/results')">

        <div id="UsernameTextHeader" ng-style="{'font-size': FontUsernameHeader}"> {{BETAUSER}}</div>


        <img id="manjiLogoE" ng-style="{ 'opacity' : (styletrueLogoE==true) ? '1' : '0.5' }" ng-src="{{getopinion[69].imageUrl}}" ng-click="styletrueLogoE=!styletrueLogoE;goToPage1('/partials/streamresults')">

        <!--<a href="#/partials/results" class="thumb">
        </a>-->
        <!--<a href="#/partials/results" class="thumb">-->
        <!--<div id="UsernameTextLOGOUT" ng-style="{'font-size': FontLogout}" ng-click="logout()"> LOGOUT</div>-->
        <!--</a>-->
        <!--<div ng-hide="toggleVar" id="svelinije1" >-->
        <!--<img id="menuPozadina" ng-src="{{getopinion[13].imageUrl}}">

        <p id="opcija1">Take a picture</p>
        <img id="linija2" ng-src="{{getopinion[12].imageUrl}}">

        <a href="#/partials/streamresults" class="thumb">
            <p id="opcija2">Vote</p>
        </a>
        <img id="linija3" ng-src="{{getopinion[12].imageUrl}}">
        <p id="opcija3">My pictures</p>
        <img id="linija4" ng-src="{{getopinion[12].imageUrl}}">
        <a href="#/partials/results" class="thumb"><p id="opcija4">Followers</p></a>
        <img id="linija5" ng-src="{{getopinion[12].imageUrl}}">
        <p id="opcija5">Profile</p>
        <img id="linija6" ng-src="{{getopinion[12].imageUrl}}">
        <p id="opcija6">Following</p>
        <img id="linija7" ng-src="{{getopinion[12].imageUrl}}">
        <a href="#/partials/about-screen" class="thumb"><p id="opcija7">About</p></a>-->

        <div ng-show="styletrueGRUPA">

            <img id="ZATAMNJENJE1" ng-style="{'width':'130%','top':'8%','opacity':'0.6' }" ng-src="{{getopinion[71].imageUrl}}" ng-click="styletrue=!styletrue;ZatvaranjeMenija();">

            <!--<div ng-show="UMETNUTO==true">
                <img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'height':VISINASLIKEmalimeni,'width':'auto'}" src="{{UserSlikaURLdobijen}}">
            </div>

            <div ng-show="UMETNUTO==false">
                <img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'height':'14%','width':'auto','top':'10%'}" ng-src="{{getopinion[77].imageUrl}}">
            </div>-->
            <div ng-show="UMETNUTO==false">
                <div ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" id="KROJENJEMENUBLUR" ng-style="{'width':BlurMeniSlikaX,'height':BlurMeniSlikaY}">
                    <img ng-style="{'width':'100%'}" ng-src="{{getopinion[67].imageUrl}}">
                    <!--<img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'width':'14%','height':'auto','top':'10%'}" ng-src="{{getopinion[67].imageUrl}}">-->
                </div>

                <div ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" id="KROJENJE">
                    <img ng-style="{'width':'100%'}" ng-src="{{getopinion[67].imageUrl}}">
                    <!--<img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'width':'14%','height':'auto','top':'10%'}" ng-src="{{getopinion[67].imageUrl}}">-->
                </div>
            </div>

            <div ng-show="UMETNUTO==true">
                <div ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" id="KROJENJEMENUBLUR" ng-style="{'width':BlurMeniSlikaX,'height':BlurMeniSlikaY}">
                    <img ng-style="{'width':'100%'}" ng-src="{{UserSlikaURLdobijen}}">
                    <!--<img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'width':'14%','height':'auto','top':'10%'}" ng-src="{{getopinion[67].imageUrl}}">-->
                </div>

                <div ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" id="KROJENJE">
                    <img ng-style="{'width':'100%'}" ng-src="{{UserSlikaURLdobijen}}">
                    <!--<img ng-class="{'USERPICTURESLOTklasaportret1': styletrue==true,'USERPICTURESLOTklasaportret1OUT': styletrue==false }" ng-style="{'width':'14%','height':'auto','top':'10%'}" ng-src="{{getopinion[67].imageUrl}}">-->
                </div>
            </div>






            <div ng-class="{'menuPozadina1': styletrue==true,'menuPozadina1OUT': styletrue==false }">
               
                <img ng-style="{'width':'100%'}" ng-src="{{getopinion[51].imageUrl}}">
                


                <div id="UsernameTextHeadermenu" ng-style="{'left':'37%','font-size': FontUsernameHeader2}" ng-click="goToPage1('/partials/userprofile')">{{BETAUSER}}</div>

                <!--<img ng-style="{'width':'100%'}" ng-src="{{getopinion[51].imageUrl}}">-->


                


                



                <!--<img id="menuDUGMICI" ng-style="{'top':'24.5%'}" ng-src="{{getopinion[47].imageUrl}}" ng-click="goToPage('/partials/discoveryPref')">-->
                <img id="menuDUGMICI" ng-style="{'top':'30%'}" ng-src="{{getopinion[49].imageUrl}}" ng-click="goToPage1('/partials/appsettings')">
                <div id="menuDUGMICI" ng-style="{'top':'30%','width':'45%', 'font-color':'white', 'opacity':'0'}" ng-click="goToPage1('/partials/appsettings')">LINKKASUPPORTUUUUU</div>
                 
                
                <img  id="menuDUGMICI" ng-style="{'top':'45.5%'}" ng-src="{{getopinion[48].imageUrl}}" >
                <div id="menuDUGMICI" ng-style="{'top':'45.5%','width':'45%', 'font-color':'white', 'opacity':'0'}"><a href="http://gowemy.com/support">LINKKASUPPORTU</a></div>
                


                
                <img id="menuDUGMICI" ng-style="{'top':'61.5%'}" ng-src="{{getopinion[50].imageUrl}}" ng-click="goToPage1('/partials/shareGowemy')">
                <div id="menuDUGMICI" ng-style="{'top':'61.5%','width':'45%', 'font-color':'white', 'opacity':'0'}" ng-click="goToPage1('/partials/shareGowemy')">LINKKASUPPORTUUUUU</div>


                <img id="menuDUGMICI" ng-style="{'top':'76.5%'}" ng-src="{{getopinion[46].imageUrl}}" ng-click="goToPage1('/partials/about-screen')">
                <div id="menuDUGMICI" ng-style="{'top':'76.5%','width':'45%', 'font-color':'white', 'opacity':'0'}" ng-click="goToPage1('/partials/about-screen')">LINKKASUPPORTUUUUU</div>
                




            </div>
        </div>

        <img id="menuBtn" ng-style="{ 'opacity' : (styletrue==true) ? '1' : '0.5' }" ng-click="styletrue=!styletrue;ZatvaranjeMenija();" ng-src="{{getopinion[6].imageUrl}}">


        <!--id="menuPozadina1"-->

        <!--<img id="wemyLogoVeliki" ng-style="{'top':'80%','left':'10%','width':'80%','opacity':'1'}" ng-src="{{getopinion[85].imageUrl}}">-->

    </div>


</body>
</html>