<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div></div>



    <div ng-controller="getOpinionCtrl">
        <img id="POZADINACela" ng-style="{'height':'100%','width':'auto'}" ng-src="{{getopinion[76].imageUrl}}">

        <img id="linija" ng-src="{{getopinion[12].imageUrl}}">



        <div ng-show="UMETNUTO==false">
            <img id="wemyLogoVeliki" ng-style="{'top':'65%','left':'32%','width':'40%'}" ng-src="{{getopinion[77].imageUrl}}">
            <!--<img id="USERPICTURESLOTklasaportret2" ng-style="{'height':VISINASLIKEuvelikomKrugu,'width':'auto','opacity':'1'}" src="{{BASTASLIKA}}">-->
        </div>


        <div ng-show="UMETNUTO==true">
            <img src="{{UserSlikaURLdobijen}}" class="horizontal" orientable />
            <img id="ZATAMNJENJE1" ng-style="{'width':'130%','top':'6%','opacity':'0.7'}" ng-src="{{getopinion[71].imageUrl}}">
        </div>





        <img id="ActionBarPozadina" ng-src="{{getopinion[70].imageUrl}}">


        


        <div id="LoginTextHeader" ng-style="{'top':'2.2%', 'left':'9%'}">User profile</div>

        <img id="actionBracket" ng-src="{{getopinion[17].imageUrl}}" ng-click="goBackPageAppsettings()">


        <!--<div id="UsernameTextLOGOUT" ng-style="{'font-size': FontLogout}" ng-click="logout()"> LOGOUT</div>-->


        <img id="menuBtn" ng-style="{ 'top':'2.4%','left' : '9%','opacity':'1','width':'8%','height':'auto' }" ng-src="{{getopinion[77].imageUrl}}">




        <div ng-controller="userprofileController">




            <div id="TextTakePhoto" ng-style="{'top':'15%','left':'5%','font-size': FontTakePicture}">

                User: {{UserNAMEinfo}}
                <br/>
                <br />
                Email: {{UserEMAILinfo}}
                <br />
                <br />
                Gender: {{UserGENDERTXTinfo}}
                <br />
                <br />
                Country: {{UserCOUNTRYinfo}}
                <br />
                <br />
                Short Bio: {{UserABOUTinfo}}
                <br />
                <br />
               

            </div>
            






        </div>




    </div>





</body>
</html>